body {
  background: url('/src/assets/GrassBackground.png'), repeat;
  background-color: green;
}

.tree {
  border-radius: 50%;
}
.tree:hover {
  /* background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 15px white; */
  cursor: url('./assets/axe.png'), pointer;
}

.scoreboard {
  background-color: yellow;
  position: fixed;
  top: 25px;
  left: 25px;
  /* width: 100px; */
  padding: 0 10px;
  border-radius: 5px;
  border: solid 2px orange;
  z-index: 101;
}

.scoreIcon {
  width: 50px;
}

.scoreCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}